.mainContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
.btnContainer{
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.btnContainer1{
  margin-top: 30px;
  width: 50%;
  display: flex;
  justify-content:space-evenly;
  
}
.inputDetailsContainer{
  width: 50%;
  display: flex;
  /* justify-content: space-between; */
  height: 40%;
}
.inputFieldDiv{
  width: 50%;
  display: flex;
  flex-direction: column;
}
.showDetailsDiv{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nameAndInputWrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}
.inputNameField{
  width: 80%;
  height: 40px;
}
.razorPayText{
font-size: 25px;
margin-top: 40px;
}
